body {
    background-image: url("../img/nature-g0b9a908f6_1920.jpg");
  }
  
  h1 {
    color: white;
  }
  
  h6 {
    color: white;
  }
  
  .ms_access {
    margin: 0 auto;
    background-color: rgb(51, 55, 44);
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 300px;
    opacity: 0.9;
  }
  
  img {
    width: 200px;
    height: 180px;
  }
  
  .btn {
    position: relative;
    left: 90px;
  }
  